body {
  background-image: url(../images/pyramid.png);
  background-repeat: repeat;
  font-family: 'Nunito', sans-serif;
  font-weight: 100;
}

.container {
  display: flex;
}
.fa-chevron-circle-down {
  margin-bottom: 20px;
}

.fa-chevron-circle-up {
  margin-bottom: 20px;
}

.trans {
  transform: translate(0, -50%);
}

.level-item {
  background-color: dodgerBlue;
  height: 150px;
  padding: 20px;
  display: flex;
  z-index: 1;
  padding-bottom: 50px;
}

.showRole {
  padding-left: 25px;
}

.prev {
  padding-bottom: 5px;
  text-align: center;
}

.toggle {
  cursor: pointer;
}

.toolkit {
  text-align: right;
}

ul {
    list-style-type: none;
    margin: 10px;
    padding: 10px;
}

li {
    display: inline;
    padding-right: 25px;

}
.first-page {
    font-size: 50px;
    text-align: right;
}
.latest {
  text-align: right;
}

#section02 {
  background-image: url(../images/pyramid.png);
}
#section03 {
  background-image: url(../images/pyramid.png);
}
#section04 {
  background-image: url(../images/pyramid.png);
}

.navbar-brand {
  background-color: #202020;
}
.navbar-item {
  color: white;
}

h1 {
  font-family: 'Nunito', sans-serif;
  font-weight: 100;
}
nav.navbar {
  background-color: #202020;
  position: fixed;
    top: 0;
    width: 100%;
}
#about {
  background-color: black;
  border: 1px solid white;
  padding: 130px;
  color: white;
  padding-top: 200px;
}
