body {

  background-size: contain;
  font-family: 'Nunito', sans-serif !important;
  font-weight: 100;
  height: 100%;
}

.experience {
    display: flex;
    flex-direction: column !important;
    text-align: center;
    margin-top: 80px;
}

.left-half {
   background-color: black;
   position: absolute;
   left: 0px;
   height: 100%;
   width: 50%;
}
.right-half {
   background-color: white;
   position: absolute;
   right: 0px;
   height: 100%;
   width: 50%;
}

.right-box {

    margin-top: -100px;
    position: absolute;
    top: 50%;
    width: 75%;
}

.navbar-item {
    border: none;
    outline: none;
    padding: 10px 15px;
    background-color: black;
    cursor: pointer;
    font-size: 18px;
}

/* Style the active class, and buttons on mouse-over */
/* .active, .navbar-item:hover {
    background-color: #666;
    color: white;
} */

.parallax {
    /* The image used */
    background-image: url(../images/pyramid.png);
    /* Full height */
    height: 100%;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#home {
  text-align: right;
  background-image: url(../images/pyramid.png);
  margin: auto;
}
.home {
  margin-top: 100px;
  margin-right: 10px;
  text-align: center;
}
.homePara {
  font-size: 100px;
}
.homePara::first-letter {
    color: pink;
}

.homeTitle {
  font-size: 150px;
}

.homeTitle::first-letter {
    color: pink;
}

.fa-chevron-circle-down {
  margin-bottom: 20px;
}

.fa-chevron-circle-up {
  margin-bottom: 20px;
}

.-item {
  display: flex;
  flex-direction: column;
  height: 150px;
  padding: 10px;
  display: flex;
  z-index: 1;
  padding-bottom: 30px;
}

.box {
  background-image: url("http://fillmurray.com/200/300");
  color: white;
}

.showRole {
  font-size: 20px;
  font-weight: bold;

}

.prev {
  padding-bottom: 5px;
  text-align: center;
}

.toggle {
  cursor: pointer;
  padding: 10px;
}



ul {
    list-style-type: none;
    margin: 10px;
    padding: 10px;
}

li {
    display: inline;
    padding-right: 25px;

}
.first-page {
    font-size: 50px;
    text-align: right;
}
.latest {
  text-align: right;
}

#projects {
  background-image: url(../images/pyramid.png);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.projects {
  margin-left: 10px;
  margin-right: 10px;
  text-align: center;
}

.titlePro {
  padding-top: 50px;
  margin-top: 10px;
}
#skills {
  background-color: black;
  margin: auto;
}

.toolkit {
  text-align: center;
  flex-direction: column;
  justify-content: center;
  display: flex;
  margin-top: 60px;
}
#about {
  background: black;
  padding: 30px;
  border: 1px solid white;
  color: white !important;
  justify-content: center;

}

.about {
  justify-content: center;
  text-align: center;

}
.about img {
  border-radius: 500px;

}
.projectBox {
  display: flex;
  flex-direction: column;
  margin: 40px;
}
.yearbook:hover {
  color: black;
  font-weight: bold;
  padding: 10px;
}
.poober:hover {
  color: black;
  font-weight: bold;
  padding: 10px;
}

.isthisin:hover {
  color: black;
  font-weight: bold;
  padding: 10px;
}
.crimeno:hover {
  color: black;
  font-weight: bold;
  padding: 10px;
}

.spinner:hover {
  color: black;
  font-weight: bold;
  padding: 10px;
}
#contact {
  display: flex;
  flex-direction: column;
  font-size: 20px;
}
.contact {
  padding: 10px;
  font-weight: bold;
}
.aboutPara {
  color: white;
}
.aboutTitle {
  color: white;
  padding-top: 27px;
}
.navbar-brand {
  background-color: #202020;
}
.navbar-item {
  color: white;
  font-size: 20px;
}

h1 {
  font-family: 'Nunito', sans-serif;
  font-weight: 100;
}
nav.navbar {
  background-color: #202020;
  position: fixed;
    top: 0;
    width: 100%;
}
i {
  font-size: 50px;
}
.wrap .dev {
  visibility: hidden;
  font-size: 30px;
}
.wrap:hover .dev {
  visibility: visible;
  font-size: 30px;
  padding-bottom: 10px;

}
.column .is-one-quarter {
  margin: 50px
}
.hidden-first {
    width: 100%;
    display: none;
}
.contacts {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: pink;
}
#contact {
  padding: 10px;
  text-align: center;
  font-weight: bold;
  cursor: pointer;

}
.subtitle {
  padding: 10px;
  padding-top: 15px;
  font-weight: bold;
}
.hero-body {
  justify-content: center;
  height: 70vh;
  margin: auto;
  display: inline !important;
  text-align: center;
}
@media only screen and (max-width: 768px) {
  #home {
    text-align: center;

  }
  .homeTitle {
    font-size: 80px;
  }
  .homePara {
    font-size: 60px;
  }
  #about {
    text-align: center;

  }
  .dev {
    display: none;

  }
}
