body {
  /* background-image: url(../images/pyramid.png); */
  background-size: contain;
  font-family: 'Nunito', sans-serif !important;
  font-weight: 100;
}

/* body:hover {
  background-image: url(../images/pyramid.png);


} */

.experience {
  background-color: white;
  width: 60%;
  margin: auto;
  border-radius: 45px;
  padding: 15px;
  text-align: center;
  z-index: 5;
}

.left-half {
   background-color: black;
   position: absolute;
   left: 0px;
   height: 100%;
   width: 50%;
}
.right-half {
   background-color: white;
   position: absolute;
   right: 0px;
   height: 100%;
   width: 50%;
}

.right-box {

    margin-top: -100px;
    position: absolute;
    top: 50%;
    width: 75%;
}

.navbar-item {
    border: none;
    outline: none;
    padding: 10px 16px;
    background-color: black;
    cursor: pointer;
    font-size: 18px;
}

/* Style the active class, and buttons on mouse-over */
/* .active, .navbar-item:hover {
    background-color: #666;
    color: white;
} */
#home {
  text-align: right;
  background-color: lightslategrey;
  margin: auto;
}
.home {
    display: inline;
    margin-top: 150px;
}

.homePara {
  font-size: 100px;
}
.homePara::first-letter {
    color: pink;
}

.homeTitle {
  font-size: 150px;
}

.homeTitle::first-letter {
    color: pink;
}

.fa-chevron-circle-down {
  margin-bottom: 20px;
}

.fa-chevron-circle-up {
  margin-bottom: 20px;
}

.trans {
  transform: translate(0, -50%);
}

.-item {
  display: flex;
  flex-direction: column;
  height: 150px;
  padding: 10px;
  display: flex;
  z-index: 1;
  padding-bottom: 30px;
}

.box {
  background-image: url("http://fillmurray.com/200/300");
  color: white;
}

.showRole {
  font-size: 20px;
  color: white;
  font-weight: bold;

}

.prev {
  padding-bottom: 5px;
  text-align: center;
}

.toggle {
  cursor: pointer;
  padding: 10px;
}

.toolkit {
  text-align: right;
}

ul {
    list-style-type: none;
    margin: 10px;
    padding: 10px;
}

li {
    display: inline;
    padding-right: 25px;

}
.first-page {
    font-size: 50px;
    text-align: right;
}
.latest {
  text-align: right;
}

#projects {
  background-image: url(../images/pyramid.png);
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.projects {
  margin-left: 10px;
  margin-right: 10px;
  text-align: center;
}

.titlePro {
  padding-top: 50px;
}
#skills {
  background-color: black;
}
/*
#section04 {
  background-image: url(../images/pyramid.png);
} */
#about {
  background: black;
  padding: 30px;
  border: 1px solid white;
  color: white !important;
  justify-content: center;

}

.trans {
  margin-top: 20%;
}

.about {
  justify-content: center;

}
.crimeno {
  background-image: url(../images/crimeno.png);
  background-position: center;
  background-size: cover;
}
.yearbook {
  background-image: url(../images/gays.png);
  background-position: center;
  background-size: cover;
  animation-play-state: paused;

}

.yearbook:hover {
transform: scale(1.5);
animation-play-state: running;

}
.poober {
  background-image: url(../images/poober.png);
  background-position: center;
  background-size: cover;
}

.poober:hover {
  transform: scale(1.5);
}
.isthisin {
  background-image: url(../images/isthisin.png);
  background-position: center;
  background-size: cover;
}
.isthisin:hover {
  transform: scale(1.5);
}
.crimeno {
  background-image: url(../images/crimeno.png);
  background-position: center;
  background-size: cover;
}
.crimeno:hover {
  transform: scale(1.5);
  background-color: blue;
  color: black;
  font-weight: bold;
  padding: 10px;
}

.spinner {
  background-image: url(../images/spinner.png);
  background-position: center;
  background-size: cover;
}
.spinner:hover {
  transform: scale(1.5);
}
#contact {
  display: flex;
  flex-direction: column;
}
.aboutPara {
  color: white;
}
.aboutTitle {
  color: white;
  padding-top: 27px;
}
.navbar-brand {
  background-color: #202020;
}
.navbar-item {
  color: white;
  font-size: 20px;
}

h1 {
  font-family: 'Nunito', sans-serif;
  font-weight: 100;
}
nav.navbar {
  background-color: #202020;
  position: fixed;
    top: 0;
    width: 100%;
}
i {
  font-size: 50px;
}
.wrap .dev {
  visibility: hidden;
  font-size: 30px;
  display: inline;

}
.wrap:hover .dev {
  visibility: visible;
  font-size: 30px;

}
.column-is-one-quarter {
  margin: 50px
}
.bottom {
  float: left;
}

.roles {
  display: flex;
  flex-direction: column !important;
  text-align: center;
  margin-top: 80px;
}

.subtitle {
  padding: 10px;
  padding-top: 10px;
  font-weight: bold;
}
.hero-body {
  justify-content: center;
  height: 70vh;
  margin: auto;
  display: inline !important;
  text-align: center;
}
@media only screen and (max-width: 768px) {
  #home {
    text-align: center;

  }
  .homeTitle {
    font-size: 80px;
  }
  .homePara {
    font-size: 60px;
  }
  #about {
    text-align: center;

  }
}
